@page
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = "Recovery codes";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
    ViewData["InfoTitle"] = "Put these codes in a safe place.";
    ViewData["InfoMessage"] = new List<string> { "If you lose your device and don't have the recovery codes you will lose access to your account."};
}

<h3 class="base-title">@ViewData["Title"]</h3>

<partial name="_StatusMessage" for="StatusMessage" />

@await Component.InvokeAsync("BaseInfo", new {title = @ViewData["InfoTitle"], message = @ViewData["InfoMessage"], align = "center"})

<div class="display-row" style="justify-content: center;">
    <div class="code">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code>@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>
