@page
@model RegisterModel
@{
    ViewData["Title"] = "Create Account";
}

<div class="base-container">
  <div class="card">
    <div  class="card__title">
     <h3 class="title"> @ViewData["Title"]</h3>
    </div>
    <div class="card__content">
            <section>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-container">
                    <input asp-for="Input.Email" class="input-text" autocomplete="email" placeholder="Email" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="input-text_error"></span>
                </div>
                <div class="input-container">
                    <input asp-for="Input.Password" class="input-text" autocomplete="current-password" placeholder="Password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="input-text_error"></span>
                </div>
                <div class="input-container">
                    <input asp-for="Input.ConfirmPassword" class="input-text" autocomplete="new-password" placeholder="Confirm Password"aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="input-text_error"></span>
                </div>
                <div>
                 <button id="registerSubmit" type="submit" class="base-button base-button__light">
                  <div class="base-button__content"> 
                            <label> create account </label>
                            <div class="base-button__icon base-button__icon--next"> </div>
                        </div>
                 </button>
                </div>
                <div class="card__footer">
                    <p>
                        Our just <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="link"> Sing In </a> to start achieving your goals.
                    <p>
                    <div></div>
                </div>
            </form>
        </section>
    </div>
  </div>
</div>



    @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
             @{
            @if (Model.ExternalLogins != null && Model.ExternalLogins.Count > 0)
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
            else
            {
                <div>
                    <p>
                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                        about setting up this ASP.NET application to support logging in via external services</a>.
                    </p>
                </div>
            }   

        }
        </section>
    </div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
