@model perene_goals_dotnet.Models.Learning

<section class="base-container">
    <div class="post__header"> 
        <div>
            <h3 class="base-title"> @Html.DisplayFor(model => model.Title) </h3>
            <h5 class="post__header--author"> by     @Html.DisplayFor(model => model.Author)</h5>
            <div class="post__header--description"> @Html.Raw(Model.Description)</div>
        </div>
        <div>
            <a href="@Html.DisplayFor(model => model.ReferenceLink)">
                <img class="post__header--image" src="@Html.DisplayFor(model => model.ImageLink)" alt="Click and buy @Html.DisplayFor(model => model.Title)" />
            </a>
            <a href="@Html.DisplayFor(model => model.ReferenceLink)">
                <button class="base-button base-button__light base-button__small">
                    <div class="base-button__content">
                        <label>Buy the book</label>
                        <div class="base-button__icon base-button__icon--amazon"></div>
                    </div>
                </button>
            </a>
        </div> 
    </div>
</section>

<div class="base-container"> 
  
</div>